.App{
align-items: center;
width: 100%;
height: 100vh;
position:relative;
background-color: rgb(12, 23, 56);


}
body{

margin: 0;
padding: 0;

}

.userImg{
 
  
  position: absolute;
  top:25%;
  left:47%;
  
}

.dropdown{
 margin: 10px;
  background-color: #fff;
  width: 200px;
  height: 200px;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  position: relative;
  right: 28%;
  box-shadow: 0px 0px 3px 0.5px rgb(199, 199, 199);
  border-radius: 5px;
  

}
.dropdown ul{

  margin: 5px;
  padding: 5px;
  list-style: none;
  

}
.dropdown ul li{
  padding: 10px;
  cursor: pointer;
/* border-bottom:1px solid rgb(169, 168, 168); */
}

.dropdown ul li:hover{
  background-color: rgb(225, 172, 185);

}



.userImg img{
  border: 1px solid grey;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0px 0px 3px 0.5px rgb(199, 199, 199);
  

}